*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: 0;
}

input:focus {
  outline: 0;
}

.error {
  color: red;
}

td {
  vertical-align: middle;
}

.icon-down {
  width: 0.8rem;
  height: 0.8rem;
}
/*# sourceMappingURL=globals.css.map */